{% extends "includes/layout.njk" %}
{% block pageTitle %}
  Page not found - Workforce measurement tool
{% endblock %}
{% block content %}

  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Page not found</h1>
        <p class="govuk-body">
          If you entered a web address, check it is correct.
        </p>
        <p class="govuk-body">You can <a class="govuk-link govuk-link--no-visited-state" href="/">go to the homepage</a> to find the information you need.</p>
      </div>
    </div>
  </main>

{% endblock %}
