{% extends "includes/layout.html" %}
{% block pageTitle %}
  Internal server error
{% endblock %}

{% block content %}

 <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">An error has occurred</h1>
        <p class="govuk-body">Something went wrong, but it's not your fault.</p>
        <pre class="govuk-!-margin-top-8">Error code: 500</pre>
        <ul class="govuk-list">
          <li>
            <h3 class="govuk-heading-m">500 - Internal Server Error</h3> This is a generic error when the server cannot determine the exact problem</li>
          <li>
            <h3 class="govuk-heading-m">501 - Not Implemented</h3> The server cannot distinguish the request made, or is unable to perform the request</li>
          <li>
            <h3 class="govuk-heading-m">502 - Bad Gateway</h3> The server is operating as a gateway or proxy server and the upstream server returns an invalid response</li>
          <li>
            <h3 class="govuk-heading-m">503 - Service Unavailable</h3> The server is unavailable at the present moment, usually due to maintenance or overloading - try again later</li>
          <li>
            <h3 class="govuk-heading-m">504 - Gateway Timeout</h3> The server is operating as a gateway or proxy server and the upstream server failed to respond in a timely manner</li>
        </ul>
      </div>
    </div>
  </main>

{% endblock %}