{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% for js in feComponents.jsIncludes %}
    <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
{% endfor %}

{% for css in feComponents.cssIncludes %}
    <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet"/>
{% endfor %}

{% block pageTitle %}
    {% include "includes/page-title.njk" %}
{% endblock %}

{% block head %}
    {% include "includes/head.njk" %}
{% endblock %}

{% block cookie_message %}
    <p>{{ 'GOV.UK uses cookies to make the site simpler.' }} </p>
{% endblock %}

{% block header %}
    {{ feComponents.header | safe }}
{% endblock %}

{% block beforeContent %}
    {% include "includes/breadcrumbs.njk" %}
{% endblock %}  


{% block footer %}
    {{ feComponents.footer | safe }}
    {% include "includes/scripts.njk" %}
{% endblock %}

{% block bodyEnd %}
{% endblock %}
