    <table id="example" class="govuk-table data-table" data-module="moj-sortable-table" cellspacing="0" width="100%"  aria-describedby="example_info" style="width: 100%;">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header sln-table-org-level" aria-sort="none" id="name">{{ childOrganisationLevelDisplayText }}</th>
                <th class="govuk-table__header govuk-table__header--numeric" aria-sort="descending" id="cases">OMIC Cases</th>
                <th class="govuk-table__header govuk-table__header--numeric" aria-sort="none" id="custody">Total Points while in Custody</th>
                <th class="govuk-table__header govuk-table__header--numeric" aria-sort="none" id="licence">Anticipated Points while on Licence</th>
            </tr>
        </thead>
        <tbody>
            {% for member in overviewDetails.rows %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" headers="name">{% if childOrganisationLevelDisplayText !== 'Team' and childOrganisationLevelDisplayText !== 'Offender Manager' %} <a class="govuk-link" href="/{{ workloadType }}/{{ childOrganisationLevel }}/{{ member.linkId }}">{{ member.name }}</a> {% else %} {{ member.name }} {% endif %}</td>
              <td class="govuk-table__cell" headers="cases total">{{ member.totalCases }}</td>
              <td class="govuk-table__cell" headers="custody total">{{ member.custodyPoints }}</td>
              <td class="govuk-table__cell" headers="licence total">{{ member.licencePoints }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
            <tr>
            <th headers="name om">Total/ Average</th>
            <th headers="cases total">{{ overviewDetails.totals.totalTotalCases }}</th>
            <th headers="custody total">{{ overviewDetails.totals.totalCustodyPoints }}</th>
            <th headers="licence total">{{ overviewDetails.totals.totalLicencePoints }}</th>
            </tr>
        </tfoot>
      </table>
    
    {% block page_specific_scripts %}
    
        <script src="/public/javascripts/vendor/jquery.min.js"></script>
        <script src="/public/javascripts/case-overview.js"></script>
       
    {% endblock %}
