    <table id="example" class="govuk-table js-data-table data-table dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
        <thead>
            <tr>
                <th class="sln-table-org-level" id="name">{{ childOrganisationLevelDisplayText }}</th>
                <th id="cases">OMIC Cases</th>
                <th id="custody">Total Points while in Custody</th>
                <th id="licence">Anticipated Points while on Licence</th>
            </tr>
        </thead>
        <tbody>
            {% for member in overviewDetails.rows %}
            <tr>
              <td headers="name">{% if childOrganisationLevelDisplayText !== 'Team' and childOrganisationLevelDisplayText !== 'Offender Manager' %} <a class="govuk-link" href="/{{ workloadType }}/{{ childOrganisationLevel }}/{{ member.linkId }}">{{ member.name }}</a> {% else %} {{ member.name }} {% endif %}</td>
              <td headers="cases total">{{ member.totalCases }}</td>
              <td headers="custody total">{{ member.custodyPoints }}</td>
              <td headers="licence total">{{ member.licencePoints }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
            <tr>
            <th headers="name om">Total / Average</th>
            <td headers="cases total">{{ overviewDetails.totals.totalTotalCases }}</td>
            <td headers="custody total">{{ overviewDetails.totals.totalCustodyPoints }}</td>
            <td headers="licence total">{{ overviewDetails.totals.totalLicencePoints }}</td>
            </tr>
        </tfoot>
      </table>
    
    {% block page_specific_scripts %}
    
        <script src="/public/javascripts/vendor/jquery.min.js"></script>
        <script src="/public/javascripts/datatables.min.js"></script>
        <script src="/public/javascripts/fixed-overview-header.js"></script>
        <script src="/public/javascripts/case-overview.js"></script>
       
    {% endblock %}
