
    <p class="govuk-body-s"><span class="capacity-red">Red</span> numbers are shown when capacity is over 110%</p>

    <table id="example" class="govuk-table data-table width100Percent" data-module="moj-sortable-table" cellspacing="0" width="100%"  aria-describedby="example_info">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row headers">
                {% if organisationLevel === 'team' %}
                <th class="sln-table-org-level govuk-table__header" id="om" colspan="2">{{ childOrganisationLevelDisplayText }}</th>
                {% else %}
                <th class="sln-table-org-level govuk-table__header" id="om">{{ childOrganisationLevelDisplayText }}</th>
                {% endif %}
                <th class="govuk-table__header" id="cap" colspan="4">Capacity</th>
                <th class="govuk-table__header" id="hrs" colspan="2">Hours</th>
                <th class="govuk-table__header" id="cases">Cases</th>
            </tr>
    
            <tr class="govuk-table__row headers">
                <th headers="om" class="govuk-table__header" aria-sort="ascending" id="name">Name</th>
                {% if organisationLevel === 'team' %}
                <th headers="om" class="govuk-table__header" aria-sort="ascending" id="grade">Grade</th>
                {% endif %}
                <th headers="cap" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" id="current">Current(%)</th>
                <th headers="cap" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" id="points">Available Points</th>
                <th headers="cap" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" id="totalPoints">Total Points Used</th>
                <th headers="cap" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" id="remaining">Remaining Points</th>
                <th headers="hrs" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" id="contracted">Contracted</th>
                <th headers="hrs" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" id="reduction">Reduction</th>
                <th headers="cases" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" id="total">Total</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for member in overviewDetails.rows %}
          <tr class="govuk-table__row">
            {## Hidden rows to allow for moj sortable table to identify columns correctly (thanks to having 2 header rows) ##}
            <td class="displayNone"/>
            <td class="displayNone"/>
            <td class="displayNone"/>
            <td class="displayNone"/>
            <td data-sort-value="{{ member.name }}" headers="name om" class="govuk-table__cell table-first-visible-child"><a class="govuk-link" href="/{{ workloadType }}/{{ childOrganisationLevel }}/{{ member.linkId }}">{{ member.name }}</td>
            {% if organisationLevel === 'team' %}  
              <td headers="grade om" class="govuk-table__cell">{{ member.gradeCode }}</td>
            {% endif %}
            {% if member.capacityPercentage > 110 %}
              <td data-sort-value="{{ member.capacityPercentage }}" class="govuk-table__cell capacity-red" headers="current cap">{{ member.capacityPercentage | round(1) }}%<span class="govuk-visually-hidden">. This is over 110% capacity</span></td>
            {% else %}
              <td data-sort-value="{{ member.capacityPercentage }}" class="govuk-table__cell" headers="current cap">{{ member.capacityPercentage | round(1) }}%</td>
            {% endif %}
            <td headers="points cap" class="govuk-table__cell">{{ member.availablePoints }}</td>
            <td headers="totalPoints cap" class="govuk-table__cell">{{ member.totalPoints }}</td>
            {% if member.capacityPercentage > 110 %}
              <td data-sort-value="{{ member.remainingPoints }}" class="capacity-red govuk-table__cell" headers="remaining cap">{{ member.remainingPoints }}<span class="govuk-visually-hidden">. This is over 110% capacity</span></td>
            {% else %}
              <td data-sort-value="{{ member.remainingPoints }}" class="govuk-table__cell" headers="remaining cap">{{ member.remainingPoints}}</td>
            {% endif %}
            <td headers="hrs contracted" class="govuk-table__cell">{{ member.contractedHours }}</td>
            <td headers="hrs reduction" class="govuk-table__cell">{{ member.reductionHours }}</td>
            <td headers="cases total" class="govuk-table__cell">{{ member.totalCases }}</td>
          </tr>
          {% endfor%}
        </tbody>
        <tfoot>
        
            <tr>
            <th class="govuk-table__cell" headers="name om">Total / Average</th>
            {% if organisationLevel === 'team' %}  
              <th class="govuk-table__cell" headers="grade om">{{ overviewDetails.totals.gradeCode }}</th>
            {% endif %}
            <th class="govuk-table__cell" headers="current cap">{{ overviewDetails.totals.totalCapacityPercentage | round(1) }}%</th>
            <th class="govuk-table__cell" headers="points cap">{{ overviewDetails.totals.totalAvailablePoints }}</th>
            <th class="govuk-table__cell" headers="totalPoints cap">{{ overviewDetails.totals.totalPoints }}</th>
            <th class="govuk-table__cell" headers="remaining cap">{{ overviewDetails.totals.totalRemainingPoints}}</th>
            <th class="govuk-table__cell" headers="hrs contracted">{{ overviewDetails.totals.totalContractedHours }}</th>
            <th class="govuk-table__cell" headers="hrs reduction">{{ overviewDetails.totals.totalReduction }}</th>
            <th class="govuk-table__cell" headers="cases total">{{ overviewDetails.totals.totalTotalCases }}</th>  
            </tr>
            
        </tfoot>
      </table>

<div class="govuk-grid-row">

    {% if showExportReductions or showExportOverview %}
        {% if showExportReductions and showExportOverview %}
            <div class="govuk-grid-column-full">
                <p class="govuk-body floatLeftBottom10">Download overview or reductions data for {{ exportAreaTitle }}</p>
            </div>
        {% endif %}
        <div class="govuk-grid-column-full">
            {% if showExportReductions %}
                    <a href="/{{ workloadType }}/{{ organisationLevel }}/{{ linkId }}/{{ screen }}/reductions-csv" class="govuk-button reduction-export floatLeftBottom10" data-module="govuk-button">Download {{ exportOrganisationLevel }} reductions (.CSV)</a>
            {% endif %}
        </div>
        <div class="govuk-grid-column-full">
            {% if showExportOverview %}
                <a href="/{{ workloadType }}/{{ organisationLevel }}/{{ linkId }}/{{ screen }}/caseload-csv" class="govuk-button sln-export floatLeftBottom10" data-module="govuk-button">Download {{ exportOrganisationLevel }} overview (.CSV)</a>
            {% endif %}
        </div>
    {% endif %}
</div>

    {% block page_specific_scripts %}
    
        <script src="/public/javascripts/vendor/jquery.min.js"></script>
       
    {% endblock %}
