
        
    <table id="example" class="govuk-table js-data-table data-table dataTable width100Percent" cellspacing="0" width="100%"  aria-describedby="example_info">
        <thead>
            <tr>
                {% if organisationLevel === 'team' %}
                <th class="sln-table-org-level" id="om" colspan="2">{{ childOrganisationLevelDisplayText }}</th>
                {% else %}
                <th class="sln-table-org-level" id="om">{{ childOrganisationLevelDisplayText }}</th>
                {% endif %}
                <th id="cap" colspan="4">Capacity</th>
                <th id="hrs" colspan="2">Hours</th>
                <th id="cases">Cases</th>
            </tr>
    
            <tr class="headers">
                <th headers="om" id="name">Name</th>
                {% if organisationLevel === 'team' %}
                <th headers="om" id="grade">Grade</th>
                {% endif %}
                <th headers="cap" id="current">Current(%)</th>
                <th headers="cap" id="points">Available Points</th>
                <th headers="cap" id="totalPoints">Total Points Used</th>
                <th headers="cap" id="remaining">Remaining Points</th>
                <th headers="hrs" id="contracted">Contracted</th>
                <th headers="hrs" id="reduction">Reduction</th>
                <th headers="cases" id="total">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for member in overviewDetails.rows %}
            <tr>
              <td headers="name om"><a class="govuk-link" href="/{{ workloadType }}/{{ childOrganisationLevel }}/{{ member.linkId }}">{{ member.name }}</td>
            {% if organisationLevel === 'team' %}  
              <td headers="grade om">{{ member.gradeCode }}</td>
            {% endif %}
            {% if member.capacityPercentage > 110 %}
              <td class="capacity-red" headers="current cap">{{ member.capacityPercentage | round(1) }}%</td>
            {% else %}
              <td headers="current cap">{{ member.capacityPercentage | round(1) }}%</td>
            {% endif %}
            <td headers="points cap">{{ member.availablePoints }}</td>
            <td headers="totalPoints cap">{{ member.totalPoints }}</td>
            {% if member.capacityPercentage > 110 %}
              <td class="capacity-red" headers="remaining cap">{{ member.remainingPoints }}</td>
            {% else %}
              <td headers="remaining cap">{{ member.remainingPoints}}</td>
            {% endif %}
            <td headers="hrs contracted">{{ member.contractedHours }}</td>
            <td headers="hrs reduction">{{ member.reductionHours }}</td>
            <td headers="cases total">{{ member.totalCases }}</td>
          </tr>
          {% endfor%}
        </tbody>
        <tfoot>
        
            <tr>
            <td headers="name om">Total / Average</td>
            {% if organisationLevel === 'team' %}  
              <td headers="grade om">{{ overviewDetails.totals.gradeCode }}</td>
            {% endif %}
            <td headers="current cap">{{ overviewDetails.totals.totalCapacityPercentage | round(1) }}%</td>
            <td headers="points cap">{{ overviewDetails.totals.totalAvailablePoints }}</td>
            <td headers="totalPoints cap">{{ overviewDetails.totals.totalPoints }}</td>
            <td headers="remaining cap">{{ overviewDetails.totals.totalRemainingPoints}}</td>
            <td headers="hrs contracted">{{ overviewDetails.totals.totalContractedHours }}</td>
            <td headers="hrs reduction">{{ overviewDetails.totals.totalReduction }}</td>
            <td headers="cases total">{{ overviewDetails.totals.totalTotalCases }}</td>  
            </tr>
            
        </tfoot>
      </table>

<div class="govuk-grid-row">

    {% if showExportReductions or showExportOverview %}
        {% if showExportReductions and showExportOverview %}
            <div class="govuk-grid-column-full">
                <p class="govuk-body floatLeftBottom10">Download overview or reductions data for {{ exportAreaTitle }}</p>
            </div>
        {% endif %}
        <div class="govuk-grid-column-full">
            {% if showExportReductions %}
                    <a href="/{{ workloadType }}/{{ organisationLevel }}/{{ linkId }}/{{ screen }}/reductions-csv" class="govuk-button reduction-export floatLeftBottom10" data-module="govuk-button">Download {{ exportOrganisationLevel }} reductions (.CSV)</a>
            {% endif %}
        </div>
        <div class="govuk-grid-column-full">
            {% if showExportOverview %}
                <a href="/{{ workloadType }}/{{ organisationLevel }}/{{ linkId }}/{{ screen }}/caseload-csv" class="govuk-button sln-export floatLeftBottom10" data-module="govuk-button">Download {{ exportOrganisationLevel }} overview (.CSV)</a>
            {% endif %}
        </div>
    {% endif %}
</div>

    {% block page_specific_scripts %}
    
        <script src="/public/javascripts/vendor/jquery.min.js"></script>
        <script src="/public/javascripts/vendor/jquery.dataTables.min.js"></script>
        <script src="/public/javascripts/fixed-overview-header.js"></script>
        <script src="/public/javascripts/case-overview.js"></script>
       
    {% endblock %}
