{% if tabTitle %}
  {% if tabTitle.first %}{{ tabTitle.first }} | {% endif %}
  {% if tabTitle.second %}{{ tabTitle.second }} | {% endif %}
  {% if tabTitle.third %}{{ tabTitle.third }} | {% endif %}
  WMT
{% else %}
  {% if navTitle %}{{ navTitle }} - {% endif %}
  {% if subTitle %}{{ subTitle }} - {% endif %}
  {% if title %}{{ title }} - {% endif %} 
  WMT
{% endif %}
