<script src="/public/javascripts/gov-uk.js"></script>
<script>
  window.GOVUKFrontend.initAll()
</script>
<script src="/public/javascripts/moj.js"></script>
<script>
  window.MOJFrontend.initAll()
</script>