{% if subNav %}
<nav class="moj-sub-navigation" aria-label="Sub navigation">
  <ul class="moj-sub-navigation__list">
  {% for item in subNav %}
    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" href="{{ item.link }}"{% if item.active %} aria-current="page"{% endif %}>{{ item.title }}</a>
    </li>
  {% endfor %}
  </ul>
</nav>
{% endif %}
