{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% if errors %}

    {% set errorList = [] %}
    {% for field, messages in errors %}
        {% set errorList = (errorList.push({
          href: field,
          text: messages[0]
        }), errorList) %}
    {% endfor %}

    {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
    }) }}

{% endif %}