TOKEN_VERIFICATION_ENABLED=true
AWS_ACCESS_KEY_ID=foobar
AWS_SECRET_ACCESS_KEY=foobar

INGRESS_URL=http://localhost:3000
HMPPS_AUTH_URL=https://sign-in-dev.hmpps.service.justice.gov.uk/auth
HMPPS_AUTH_EXTERNAL_URL=https://sign-in-dev.hmpps.service.justice.gov.uk/auth
TOKEN_VERIFICATION_API_URL=https://token-verification-api-dev.prison.service.justice.gov.uk
MANAGE_USERS_SERVICE_URL=https://manage-users-api-dev.hmpps.service.justice.gov.uk
ALLOCATIONS_SERVICE_URL=https://hmpps-allocations-dev.hmpps.service.justice.gov.uk
USER_PREFERENCE_SERVICE_URL=https://hmpps-user-preferences-dev.hmpps.service.justice.gov.uk

API_CLIENT_ID=<retrieve_k8s_secret__AUTH_API_CLIENT_ID>
API_CLIENT_SECRET=<retrieve_k8s_secret__AUTH_API_CLIENT_SECRET>

PGSSLMODE=no-verify
WMT_LIVE_DB_NAME=<retrieve_k8s_secret__WMT_LIVE_DB_NAME>
WMT_LIVE_DB_USERNAME=<retrieve_k8s_secret__WMT_LIVE_DB_USERNAME>
WMT_LIVE_DB_PASSWORD=<retrieve_k8s_secret__WMT_LIVE_DB_PASSWORD>
WMT_HISTORY_DB_PORT=5433
WMT_HISTORY_DB_NAME=<retrieve_k8s_secret__WMT_HISTORY_DB_NAME>
WMT_HISTORY_DB_USERNAME=<retrieve_k8s_secret__WMT_HISTORY_DB_USERNAME>
WMT_HISTORY_DB_PASSWORD=<retrieve_k8s_secret__WMT_HISTORY_DB_PASSWORD>
