---
generic-service:
  nameOverride: wmt-web
  replicaCount: 2

  serviceAccountName: hmpps-workload

  image:
    repository: ghcr.io/ministryofjustice/wmt-web
    tag: app_version    # override at deployment time
    port: 3000

  ingress:
    enabled: true
    modsecurity_enabled: true
    modsecurity_github_team: "manage-a-workforce"
    modsecurity_snippet: |
      SecRuleEngine On
      SecDefaultAction "phase:2,pass,log,tag:github_team=manage-a-workforce"
      SecRuleUpdateActionById 949110 "t:none,deny,status:406,logdata:%{SERVER_NAME}"
      SecRuleUpdateActionById 959100 "t:none,deny,status:406,logdata:%{SERVER_NAME}"
      SecRuleRemoveById 942430
      SecRuleRemoveById 942210
      SecRuleRemoveById 950100
      SecRuleUpdateTargetById 942440 "!REQUEST_COOKIES"
    v1_2_enabled: true
    v0_47_enabled: false
    host: app-hostname.local    # override per environment
    tlsSecretName: workload-measurement-cert
    path: /
    contextColour: green

  livenessProbe:
    httpGet:
      path: /ping

  readinessProbe:
    httpGet:
      path: /ping
  # Environment variables to load into the deployment
  env:
    NODE_ENV: "production"
    PGSSLMODE: "no-verify"
    REDIS_TLS_ENABLED: "true"
    TOKEN_VERIFICATION_ENABLED: "true"

  # Pre-existing kubernetes secrets to load as environment variables in the deployment.
  # namespace_secrets:
  #   [name of kubernetes secret]:
  #     [name of environment variable as seen by app]: [key of kubernetes secret to load]

  namespace_secrets:
    hmpps-workload:
      APPINSIGHTS_INSTRUMENTATIONKEY: "APPINSIGHTS_INSTRUMENTATIONKEY"
      API_CLIENT_ID: "AUTH_API_CLIENT_ID"
      API_CLIENT_SECRET: "AUTH_API_CLIENT_SECRET"
      SESSION_SECRET: "SESSION_SECRET"
      TAG_MANAGER_CONTAINER_ID: "TAG_MANAGER_CONTAINER_ID"

    rds-live-instance-output:
      WMT_LIVE_DB_USERNAME: "database_username"
      WMT_LIVE_DB_PASSWORD: "database_password"
      WMT_LIVE_DB_SERVER: "rds_instance_address"
      WMT_LIVE_DB_NAME: "database_name"
    rds-history-instance-output:
      WMT_HISTORY_DB_USERNAME: "database_username"
      WMT_HISTORY_DB_PASSWORD: "database_password"
      WMT_HISTORY_DB_SERVER: "rds_instance_address"
      WMT_HISTORY_DB_NAME: "database_name"
    elasticache-redis:
      REDIS_HOST: "primary_endpoint_address"
      REDIS_AUTH_TOKEN: "auth_token"
    s3-dashboard-bucket-output:
      DASHBOARD_AWS_BUCKET: "bucket_name"
    sqs-hmpps-audit-secret:
      AUDIT_SQS_QUEUE_URL: "sqs_queue_url"
    flipt:
      FLIPT_API_KEY: 'API_KEY'
      FLIPT_URL: 'URL'

  allowlist:
    groups:
      - digital_staff_and_mojo
      - moj_cloud_platform
      - probation
    quantum1: "62.25.109.197/32"
    quantum2: "212.137.36.230/32"
    quantum3: "195.92.38.16/28"
    
generic-prometheus-alerts:
  targetApplication: wmt-web
  alertSeverity: hmpps-tier
