---
generic-service:

  ingress:
    className: modsec
    host: workload-measurement.hmpps.service.justice.gov.uk

  env:
    INGRESS_URL: "https://workload-measurement.hmpps.service.justice.gov.uk"
    HMPPS_AUTH_URL: "https://sign-in.hmpps.service.justice.gov.uk/auth"
    TOKEN_VERIFICATION_API_URL: "https://token-verification-api.prison.service.justice.gov.uk"
    WORKFORCE_ALLOCATIONS_URL: "https://workforce-management.hmpps.service.justice.gov.uk"
    MANAGE_USERS_SERVICE_URL: "https://manage-users-api.hmpps.service.justice.gov.uk"
    ALLOCATIONS_SERVICE_URL: "https://hmpps-allocations.hmpps.service.justice.gov.uk"
    USER_PREFERENCE_SERVICE_URL: "https://hmpps-user-preferences.hmpps.service.justice.gov.uk"
    COMPONENT_API_URL: "https://probation-frontend-components.hmpps.service.justice.gov.uk"
    FLIPT_URL: "https://feature-toggles.hmpps.service.justice.gov.uk"

generic-prometheus-alerts:
  alertSeverity: hmpps-workload-prod-alerts
  ingress5xxErrorWindowMinutes: 4