{% extends "includes/layout.njk" %}

{% block pageTitle %}
    Accessibility statement
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl govuk-!-margin-top-6">Accessibility statement for Workforce Management Tool
                (WMT)</h1>

            <p class="govuk-body govuk-!-margin-top-3">Workforce Management Tool (WMT) is a caseload allocation tool
                used by the Probation service to allocate people on probation to a probation practitioner.</p>

            <p class="govuk-body">This accessibility statement applies to the Workforce Management Tool (WMT) caseload
                allocation tool.</p>

            <p class="govuk-body">This website is run by the Manage a Workforce team at
                <a class="govuk-link" href="https://www.gov.uk/government/organisations/hm-prison-and-probation-service"
                   rel="external">HM Prison and Probation Service</a>.
                We want as many people as possible to be able to use this website. For example, that means that (with
                the exception of the graph) you should be able to:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>change colours, contrast levels and fonts</li>
                <li>zoom in up to 300% without the text spilling off the screen navigate most of the website using just
                    a keyboard
                </li>
                <li>navigate most of the website using speech recognition software</li>
                <li>listen to most of the website using a screen reader</li>
            </ul>

            <p class="govuk-body">We’ve also made the website text as simple as possible to understand.</p>

            <p class="govuk-body">
                <a class="govuk-link" href="https://abilitynet.org.uk/" rel="external">AbilityNet </a>
                has advice on making your device easier to use if you have a disability.
            </p>


            <h2 class="govuk-heading-xl govuk-!-margin-top-9 govuk-!-margin-bottom-6">Feedback and contact
                information</h2>

            <p class="govuk-body">If you need information on this website in a different format like accessible PDF,
                large print or audio recording, email: <a class="govuk-link"
                                                          href="mailto:manageaworkforce@justice.gov.uk">manageaworkforce@justice.gov.uk</a>.
            </p>
            <p class="govuk-body">We’ll consider your request and get back to you within 5 working days.</p>

            <h2 class="govuk-heading-l">Reporting accessibility problems with this website</h2>

            <p class="govuk-body">We’re always looking to improve the accessibility of this website. If you find any
                problems not listed on this page or think we’re not meeting accessibility requirements, email:
                <a class="govuk-link" href="mailto:manageaworkforce@justice.gov.uk">manageaworkforce@justice.gov.uk</a>.
            </p>

            <h2 class="govuk-heading-l">Enforcement procedure</h2>

            <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the
                Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the
                ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, contact the
                <a class="govuk-link" href="https://www.equalityadvisoryservice.com/">Equality Advisory and Support
                    Service (EASS)</a>.
            </p>

            <h1 class="govuk-heading-xl govuk-!-margin-top-9  govuk-!-margin-bottom-6">Technical information about this
                website’s accessibility</h1>

            <p class="govuk-body">
                <a class="govuk-link"
                   href="https://www.gov.uk/government/organisations/hm-prison-and-probation-service">HM Prison and
                    Probation Service</a>
                is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and
                Mobile Applications) (No. 2) Accessibility Regulations 2018.
            </p>

            <h1 class="govuk-heading-xl govuk-!-margin-top-9 govuk-!-margin-bottom-6">Compliance status</h1>
            <p class="govuk-body">This website is compliant with the Web Content Accessibility Guidelines version 2.1 AA
                standard. </p>

            <h1 class="govuk-heading-xl govuk-!-margin-top-9 govuk-!-margin-bottom-6"> What we’ve done to improve
                accessibility</h1>

            <p class="govuk-body">This service was tested in May 2022, and the audit identified a number of
                accessibility issues. These have all been fixed, except the accessibility issues with a third-party
                graph.</p>

            <h3 class="govuk-heading-m"> Non-compliant third-party graph</h3>
            <p class="govuk-body">The service has a third-party graph that is not readable by screen readers. Keyboard
                users would require the use of a mouse to navigate, and voice activation users cannot access the graph.
                Poor contrast between colours in both text and non-text elements makes the graph difficult to read for
                low vision users.</p>
            <p class="govuk-body">We were unable to update the third-party graph, so we’ve added an accessible table
                that contains the same data. This allows users of assistive technology to access the information
                displayed by the graph.</p>

            <h1 class="govuk-heading-xl govuk-!-margin-top-9 govuk-!-margin-bottom-6">Preparation of this accessibility
                statement</h1>

            <p class="govuk-body">This statement was prepared on 15 May 2023.</p>
            <p class="govuk-body">This website was last tested on 16 May 2022. The test was carried out by
                <a class="govuk-link" href="https://digitalaccessibilitycentre.org/">Digital Accessibility Centre
                    (DAC)</a>.
            </p>
        </div>

    </div>
{% endblock %}