{% extends "includes/layout.njk" %}

{% block pageTitle %}
Accessibility statement
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <h1 class="govuk-heading-xl govuk-!-margin-top-6">Accessibility statement for Workforce Management Tool</h1>

            <p class="govuk-body govuk-!-margin-top-3">Workforce Management Tool (WMT) is a caseload allocation tool used by the Probation service to allocate people on probation to a probation practitioner.</p>

            <p class="govuk-body">This accessibility statement applies to the Workforce Management Tool (WMT) caseload allocation tool.</p>

            <p class="govuk-body">This website is run by the Manage a Workforce team at 
                <a class="govuk-link" href="https://www.gov.uk/government/organisations/her-majestys-prison-and-probation-service" rel="external">Her Majesty's Prison and Probation Service</a>. 
                We want as many people as possible to be able to use this website. For example, that means that (with the exception of the graph) you should be able to:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>change colours, contrast levels and fonts</li>
                <li>zoom in up to 300% without the text spilling off the screen navigate most of the website using just a keyboard</li>
                <li>navigate most of the website using speech recognition software</li>
                <li>listen to most of the website using a screen reader</li>
            </ul>

            <p class="govuk-body">
                <a class="govuk-link" href="https://abilitynet.org.uk/" rel="external">AbilityNet </a>
                has advice on making your device easier to use if you have a disability.
            </p>

            <h2 class="govuk-heading-l govuk-!-margin-bottom-3">How accessible this website is</h2>

            <p class="govuk-body">We know some parts of this website are not fully accessible:</p>

            <p class="govuk-body">There is a third-party graph that is not readable by screen readers, and the information in the graph is not shown elsewhere on the page. 
              There are contrast issues with text and non-text elements of the graph. 
              Keyboard users are unable to access the graph with just keyboard controls, 
              and colour contrast issues can make some content difficult to read for low vision users.
            </p>

            <p class="govuk-body">There is a download link for an Excel spreadsheet that does not tell users what is being downloaded or the file size.</p>

            <h3 class="govuk-heading-m">Screen reader users</h3>

            <p class="govuk-body">Screen reader users may experience navigation issues with page focus, tables and when entering a new page. 
                Some tables have incorrect role attributes, so they behave differently for screen reader users and are difficult to navigate.
            </p>

            <p class="govuk-body">Page titles are duplicated across multiple pages, which can cause issues for screen reader users. 
                The breadcrumb navigation content has not been placed prior to the main content, so screen reader users cannot skip it. 
                There are instances where the screen reader is not placed at the start of the page when entering a new page.
            </p>

            <h3 class="govuk-heading-m">Voice activation users</h3>

            <p class="govuk-body">Incorrect use of ARIA labels means certain data in tables is not read out for voice activation technology users.
            </p>

            <h3 class="govuk-heading-m">Users who navigate via keyboard</h3>

            <p class="govuk-body">Portions of the page do not have a visible focus, so users may be unsure of where their focus is on the page. 
                The use of ‘sticky’ table headers makes it difficult for keyboard users to navigate through some tables.
            </p>

            <h3 class="govuk-heading-m">Low vision and colourblind users</h3>

            <p class="govuk-body">When text spacing is activated some content overlaps, which can cause issues for low vision users. 
                Coloured text is used in tables to convey information, which may then be unavailable to low vision and colourblind users.
            </p>

            <h2 class="govuk-heading-xl govuk-!-margin-top-9 govuk-!-margin-bottom-6">Feedback and contact information</h2>

            <p class="govuk-body">If you need information on this website in a different format like accessible PDF, large print or audio recording, send an e-mail
                <a class="govuk-link" href="mailto:manageaworkforce@justice.gov.uk">here</a>.
            </p>
            <p class="govuk-body">We’ll consider your request and get back to you within 5 working days.</p>

            <h2 class="govuk-heading-l">Reporting accessibility problems with this website</h2>

            <p class="govuk-body">We’re always looking to improve the accessibility of this website. 
                If you find any problems not listed on this page or think we’re not meeting accessibility requirements, send an e-mail
                <a class="govuk-link" href="mailto:manageaworkforce@justice.gov.uk">here</a>.
            </p>

            <h2 class="govuk-heading-l">Enforcement procedure</h2>

            <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). 
                If you’re not happy with how we respond to your complaint, contact the .
                <a class="govuk-link" href="https://www.equalityadvisoryservice.com/">Equality Advisory and Support Service (EASS)</a>.
            </p>

            <h1 class="govuk-heading-xl govuk-!-margin-top-9  govuk-!-margin-bottom-6">Technical information about this website’s accessibility</h1>

            <p class="govuk-body">
                <a class="govuk-link" href="https://www.gov.uk/government/organisations/her-majestys-prison-and-probation-service">Her Majesty's Prison and Probation Service</a> 
                is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
            </p>

            <h2 class="govuk-heading-l">Non-accessible content</h2>

            <p class="govuk-body">The content listed below is non-accessible for the following reasons:</p>
            <h2 class="govuk-heading-m">Non-compliance with the accessibility regulations</h2>
            <ol class="govuk-list govuk-list--number">
                <li>Some tables do not have table row headers assigned, so people using assistive technologies will not be able to read the tables correctly. This fails WCAG 2.1 success criterion 1.3.1 (info and relationships).</li>
                <li>Coloured text is used in tables to convey information, which may then be unavailable to low vision and colourblind users. This fails WCAG 2.1 success criterion 1.4.1 (use of colour).</li>
                <li>The use of ‘sticky’ table headers makes it difficult for keyboard users to navigate through some tables. This fails WCAG 2.1 success criterion 2.4.3 (focus order).</li>
                <li>Some tables have incorrect role attributes, so they behave differently for screen reader users and are difficult to navigate. This fails WCAG 2.1 success criterion 4.1.2 (name, role, value).</li>
                <li>Page titles are duplicated across multiple pages, which can cause issues for screen reader users. This fails WCAG 2.1 success criterion 2.4.2 (page titles).</li>
                <li>The breadcrumb navigation content has not been placed prior to the main content, so screen reader users cannot skip it. This fails WCAG 2.1 success criterion 2.4.1 (bypass blocks).</li>
                <li>There are custom elements in sortable tables that are not accessible for screen reader and voice activation users. This fails WCAG 2.1 success criterion 1.3.1 (info and relationships).</li>
                <li>Incorrect use of ARIA labels means certain data in tables is not read out by screen readers. This fails WCAG 2.1 success criterion 4.1.2 (name, role, value).</li>
                <li>There are instances where the screen reader is not placed at the start of the page when entering a new page. This fails WCAG 2.1 success criterion 2.4.3 (focus order).</li>
                <li>There is a download link for an excel spreadsheet that does not inform users of what is being downloaded or the file size. This fails WCAG 2.1 success criterion 2.4.4 (link purpose in context).</li>
                <li>Portions of the page do not have a visible focus, so users who navigate via keyboard controls may be unsure of where their focus is on the page. This fails WCAG 2.1 success criterion 2.4.7 (focus visible).</li>
                <li>When text spacing is activated some content overlaps, which can cause issues for low vision users. This fails WCAG 2.1 success criterion 1.4.12 (text spacing).</li>
            </ol>
            <h2 class="govuk-heading-m">Non-compliant third-party graph</h2>
            <ol class="govuk-list govuk-list--number">
                <li>A third-party graph is used that is not readable by screen readers, and the information in the graph is not shown elsewhere on the page. This fails WCAG 2.1 success criteria 1.3.1 (info and relationships) and 4.1.2 (name, role, value).</li>
                <li>Poor contrast between colours in both text and non-text elements makes the graph difficult to read for low vision users, and information may be missed. This fails WCAG 2.1 success criteria 1.1.1 (non-text content), 1.4.11 (non-text contrast), 1.4.3 (contrast minimum) and 1.4.6 (contrast enhanced).</li>
                <li>Keyboard users are unable to access the table with keyboard controls and would require the use of a mouse to navigate the graph. Voice activation users cannot access the graph. This fails WCAG 2.1 success criteria 2.1.1 (keyboard) and 2.1.3 (keyboard no exception).</li>
            </ol>

            <h1 class="govuk-heading-xl govuk-!-margin-top-9 govuk-!-margin-bottom-6">What we’re doing to improve accessibility</h1>

            <p class="govuk-body">We’ve identified the issues, and will update this statement with a plan to fix them within 6 months of the date this statement was prepared.</p>

            <h1 class="govuk-heading-xl govuk-!-margin-top-9 govuk-!-margin-bottom-6">Preparation of this accessibility statement</h1>

            <p class="govuk-body">This statement was prepared on 10 October 2022.</p>
            <p class="govuk-body">This website was last tested on 16 May 2022. The test was carried out by 
                <a class="govuk-link" href="https://digitalaccessibilitycentre.org/">Digital Accessibility Centre (DAC)</a>.
            </p>
        </div>

    </div>
{% endblock %}