{% extends "includes/layout.njk" %}

{% block content %}

<main id="content" role="main">

{% include "includes/breadcrumbs.njk" %}

{% include "includes/validation-error-messages.njk" %}

{% include "includes/title-subtitle.njk" %}

{% include "includes/sub-nav.njk" %}

<div>
  <div id="{{ organisationLevel }}">
    <table class="govuk-table sln-table-overview data-table">
      <thead>
        <tr>
          <th class="sln-table-org-level" id="name">{{ childOrganisationLevelDisplayText }}</th>
          {% if organisationLevel === "team" %}
            <th id="grade">Grade</th>
          {% endif %}
          <th id="total_sdrs">Standard Delivery Reports</th>
          <th id="total_fdrs">Fast Delivery Reports</th>
          <th id="total_oral_reports">Oral Reports</th>
          <th id="contracted_hours">Contracted Hours</th>
          <th id="reduction_hours">Reduction Hours</th>
        </tr>
      </thead>
      <tbody>
        {% for member in overviewDetails %}
        <tr>
          {% if organisationLevel === "team" %}
            <td headers="name">{{ member.name }}</td>
            <td headers="grade">{{ member.grade }}</td>
          {% else %}
          <td headers="name"><a class="govuk-link" href="/court-reports/{{ childOrganisationLevel }}/{{ member.linkId }}">{{ member.name }}</a></td>
          {% endif %}
          <td headers="total_sdrs">{{ member.totalSdrs }}</td>
          <td headers="total_fdrs">{{ member.totalFdrs }}</td>
          <td headers="total_oral_reports">{{ member.totalOralReports }}</td>
        </tr> 
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

</main>

{% include "includes/last-updated.njk" %}

{% endblock %}

{% block page_specific_scripts %}

    <script src="/public/javascripts/vendor/jquery.min.js"></script>
    <script src="/public/javascripts/floatThead.js"></script>
    <script src="/public/javascripts/jquery.floatThead.js"></script>
   
{% endblock %}