{% extends "includes/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set tableData = {
    classes: 'sln-table-overview data-table',
    attributes: {
        'data-module': 'moj-sortable-table',
    },
    head: [],
    rows: []
} %}

{%- set tableHeader1 = {
    text: childOrganisationLevelDisplayText,
    attributes: {
        "class" : "sln-table-org-level",
        "id": "name"
    },
    classes: "govuk-!-width-one-third"
} -%}
{{ tableData.head.push(tableHeader1) }}

{% if organisationLevel === "team" %}
    {%- set tableHeader2 = {
        text: 'Grade',
        attributes: {
            "id": "grade"
        }
    } -%}
    {{ tableData.head.push(tableHeader2) }}
{% endif %}

{%- set tableHeader3 = {
    text: 'Standard Delivery Reports',
    attributes: {
        "id": "total_sdrs"
    }
} -%}
{{ tableData.head.push(tableHeader3) }}

{%- set tableHeader4 = {
    text: 'Fast Delivery Reports',
    attributes: {
        "id": "total_fdrs"
    }
} -%}
{{ tableData.head.push(tableHeader4) }}

{%- set tableHeader5 = {
    text: 'Oral Reports',
    attributes: {
        "id": "total_oral_reports"
    }
} -%}
{{ tableData.head.push(tableHeader5) }}

{% for member in overviewDetails %}
    {% if organisationLevel === "team" %}
        {%- set tableRowTeam = [
            { text: member.name },
            { text: member.grade },
            { text: member.totalSdrs },
            { text: member.totalFdrs },
            { text: member.totalOralReports }
        ] -%}
        {{ tableData.rows.push(tableRowTeam) }}
    {% else %}
        {%- set tableRow = [
            { text: ('<a class="govuk-link" href="/court-reports/' + childOrganisationLevel +'/' + member.linkId + '">' + member.name + '</a>' ) | safe },
            { text: member.totalSdrs },
            { text: member.totalFdrs },
            { text: member.totalOralReports }
        ] -%}
        {{ tableData.rows.push(tableRow) }}
    {% endif %}
{% endfor %}


{% block content %}

{% include "includes/validation-error-messages.njk" %}

{% include "includes/title-subtitle.njk" %}

{% include "includes/sub-nav.njk" %}

<div>
  <div id="{{ organisationLevel }}">
    {{ govukTable(tableData) }}
  </div>
</div>

{% include "includes/last-updated.njk" %}

{% endblock %}

{% block page_specific_scripts %}

    <script src="/public/javascripts/vendor/jquery.min.js"></script>
    <script src="/public/javascripts/floatThead.js"></script>
    <script src="/public/javascripts/jquery.floatThead.js"></script>
   
{% endblock %}