{% extends "includes/layout.njk" %}  

{% block content %}

<h1 class="govuk-heading-xl" id="pageTitle">
    The Workload Measurement Tool (WMT) is no longer available
</h1>

<p class="govuk-body">
    <a href="https://justiceuk.sharepoint.com/:w:/r/sites/HMPPSIntranet-Probation/_layouts/15/Doc.aspx?sourcedoc=%7B2A7B32DE-ABFC-4D01-9EEC-9C904E90BEDC%7D&file=New%20workload%20management%20arrangements%20and%20WMT%20switch%20off%20-%20FAQs%20-%20Sep%202026.docx&action=default&mobileredirect=true">Read more about this change</a>
</p>
{% endblock %}
