{% extends "includes/layout.njk" %}

{% block content %}

<main id="content" role="main">


{% include "includes/validation-error-messages.njk" %}

{% include "includes/title-subtitle.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body">WMT is currently updating. Please try again after <strong id="eta">{{ ETA }}</strong>.</p>
      <p class="govuk-body">If this message is still displayed after this time, please contact the<br/>Technology Service Desk.</p>
    </div>
  </div>

</main>

{% endblock %}