{% extends "includes/layout.html" %}

{% block content %}

<main id="content" role="main">

{# {% include "includes/breadcrumbs.html" %}

{% include "includes/validation-error-messages.html" %}

{% include "includes/title-subtitle.html" %}

{% include "includes/sub-nav.html" %} #}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sorry, the Workload Measurement Tool is unavailable</h1>
    <p class="govuk-body">
      You will be able to use the Workload Measurement Tool on Wednesday 05&nbsp;January&nbsp;2022.
    </p>
  </div>
</div>

</main>

{% endblock %}