{% extends "includes/layout.njk" %}  

{% block content %}

<main id="content" role="main">

{% include "includes/breadcrumbs.njk" %}

{% include "includes/validation-error-messages.njk" %}

{% include "includes/title-subtitle.njk" %}

{% include "includes/sub-nav.njk" %}

{% include "includes/omic-organisation-overview.njk"%}

</main>

{% include "includes/last-updated.njk" %}

{% endblock %}