{% extends "includes/layout.njk" %}

{% block content %}

    
    {% include "includes/validation-error-messages.njk" %}

    {% include "includes/title-subtitle.njk" %}

    {% include "includes/sub-nav.njk" %}    

    <form method="post">

        {% include "includes/csrf-hidden-input.njk"%}
        <h2 class="govuk-heading-m">
            Select the data type to export (this will download as a .CSV file):
        </h2>
            <div class="govuk-grid-row">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-grid-column-one-third">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="radio-inline-1" type="radio" name="radioInlineGroup" value="1" checked="checked">
                                <label class="govuk-label govuk-radios__label" for="radio-inline-1">Scenario</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            {% if isRegionLevel === true %}
              {% set exportLabel = 'Download regional OMIC data' %}
            {% else %}
              {% set exportLabel = 'Download PDU OMIC data' %}
            {% endif %}

            <div class="govuk-grid-row">
                <div class="govuk-form-group">
                    <input type="submit" class="govuk-button sln-export floatLeftBottom10 marginLeft10" style="float: left; margin-left:10px; margin-bottom: 10px" value="{{ exportLabel }}" formaction="/omic/{{ organisationLevel }}/{{ linkId }}/export" data-module="govuk-button">
                </div>
            </div>

    </form>
{% include "includes/last-updated.njk" %}

{% endblock %}