{% extends "includes/layout.njk" %} 

{% block content %}
    <header class="govuk-heading-xl officerSearchHeader">Search for an Offender Manager</header>
    {% include "includes/validation-error-messages.njk" %}
   <form method="POST">
    <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="surname">
            Search by Surname
          </label>
        </h1>
        <div id="surname-hint" class="govuk-hint">
            For example, Smith
        </div>
        <input class="govuk-input" id="surname" name="surnameBox" value="{{ surname }}" type="text" aria-describedby="surname-hint">
      </div>
      {% include "includes/csrf-hidden-input.njk" %}
    <input id="search-button" class="govuk-button officerSearchButton" type="submit" value="Search" data-module="govuk-button">
  </form>
  <div class="results">


    <table id="results-table" class="govuk-table js-data-table data-table dataTable width100Percent" data-module="moj-sortable-table" cellspacing="0" width="100%"  aria-describedby="example_info">
        <thead class="govuk-table__head">
            <tr class="headers govuk-table__row">
                <th id="division" class="govuk-table__header" aria-sort="none">Region</th>
                <th id="ldu" class="govuk-table__header" aria-sort="none">Probation Delivery Unit</th>
                <th id="team" class="govuk-table__header" aria-sort="none">Team</th>
                <th id="surname" class="govuk-table__header" aria-sort="none">Surname</th>
                <th id="forename" class="govuk-table__header" aria-sort="descending">Forename</th>
                <th id="link" class="govuk-table__header">Link</th>
            </tr>
        </thead>
        <tbody class="govuk-table__row">
            {% if (results) %}
                {% for result in results %}
                <tr>
                    <td class="govuk-table__cell">{{ result.region }}</td>
                    <td class="govuk-table__cell">{{ result.ldu }}</td>
                    <td class="govuk-table__cell">{{ result.team }}</td>
                    <td class="govuk-table__cell">{{ result.surname }}</td>
                    <td class="govuk-table__cell">{{ result.forename }}</td>
                    <td class="govuk-table__cell"><a href="/probation/offender-manager/{{ result.workloadOwnerId }}">View</a></td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
  </div><script src="/public/javascripts/vendor/jquery.min.js"></script>
<script src="/public/javascripts/vendor/jquery.dataTables.min.js"></script>
<script src="/public/javascripts/search-data.js"></script>
{% endblock %}