{% extends "includes/layout.njk" %} 
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set tableData = {
    classes: 'data-table width100Percent',
    attributes: {
        'data-module': 'moj-sortable-table',
        'id': 'results-table',
        'cellspacing':  '0',
        'width':  '100%"'
    },
    head: [
        {
            text: 'Region',
            attributes: {
                "aria-sort": "none",
                "id": "division"
            }
        },
        {
            text: 'Probation Delivery Unit',
            attributes: {
                "aria-sort": "none",
                "id": "ldu"
            }
        },
        {
            text: 'Team',
            attributes: {
                "aria-sort": "none",
                "id": "team"
            }
        },
        {
            text: 'Surname',
            attributes: {
                "aria-sort": "none",
                "id": "surname"
            }
        },
        {
            text: 'Forename',
            attributes: {
                "aria-sort": "ascending",
                "id": "forename"
            }
        },
        {
            text: 'Link',
            attributes: {
                "aria-sort": "none",
                "id": "link"
            }
        }
    ],
    rows: []
} %}

{% if (results) %}
    {% for result in results %}
        {%- set tableRow = [
            { text: result.region },
            { text: result.ldu },
            { text: result.team },
            { text: result.surname },
            { text: result.forename },
            { html: ('<a href="/probation/offender-manager/' + result.workloadOwnerId + '">View</a>') }
        ] -%}
        {{ tableData.rows.push(tableRow) }}
    {% endfor %}
{% endif %}

{% block content %}
    <header class="govuk-heading-xl officerSearchHeader">Search for an Offender Manager</header>
    {% include "includes/validation-error-messages.njk" %}
   <form method="POST">
    <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="surname">
            Search by Surname
          </label>
        </h1>
        <div id="surname-hint" class="govuk-hint">
            For example, Smith
        </div>
        <input class="govuk-input" id="surname" name="surnameBox" value="{{ surname }}" type="text" aria-describedby="surname-hint">
      </div>
      {% include "includes/csrf-hidden-input.njk" %}
    <input id="search-button" class="govuk-button officerSearchButton" type="submit" value="Search" data-module="govuk-button">
  </form>
  <div class="results">

  <script src="/public/javascripts/vendor/jquery.min.js"></script>
  {{ govukTable(tableData) }}
  </div>
{% endblock %}