{% extends "includes/layout.njk" %}

{% block page_title %}
Terms and conditions and privacy policy
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="column-two-thirds">
      <h1 class="govuk-heading-xl">
        Terms and Conditions for using the Workload Measurement Tool
      </h1>
      <p class="govuk-body">Please note the following terms of use:</p>
      <ol type = "1">
        <li>Access to and use of the system is limited to authorised users and usage is limited toMinistry of Justice business use only. Anyone using the system consents to have their activities audited</li>
        <li>All data included in this dashboard are classified as OFFICIAL SENSITIVE. Data,including charts, tables or associated text should not be circulated more widely than is necessary for the proper conduct of MoJ business. Data should not be downloaded onto personal computers or transmitted via personal email accounts</li>
        <li>Downloaded data from the Workload Measurement Tool contains personal information,which should not be shared more widely than is absolutely necessary</li>
        <li>Users are responsible for ensuring that their environment and connection methods are secure. The user is responsible for ensuring they are not in an environment where bystanders can view sensitive information and that the terminal they login from is safe and trusted. Public WiFi hotspots (for example coffee shops, airport lounges) are not considered safe or secure and should not be used for connecting to this tool</li>
        <li>Unauthorised access or attempts to alter, damage or destroy data, programs or equipment could result in criminal prosecution. Sharing information beyond necessary purposes could result in disciplinary action being taken against an individual</li>
        <li>User's line managers are responsible for ensuring that access is removed for those who no longer require it e.g. on changing role or leaving the department</li>
        <li>Data presented in the tool do not represent Official Statistics and should not be published or shared outside of the MoJ. This is management information and, due to the potential application of different validation rules, may not tally with official published statistics</li>
      </ol>
    </div>
  </div>
{% endblock %}