{% extends "includes/layout.njk" %}


{% block content %}  
  {% include "includes/title-subtitle.njk" %}

  {% include "includes/validation-error-messages.njk" %}

  <form action="/admin/user-rights/{{username}}" method="post" id="userRightForm">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <p class="govuk-body-l">Which user rights would you like to give <span class="govuk-!-font-weight-bold">{{username}}</span>?</p>
        </legend>

        <div class="govuk-radios">
          {% if canAssignSuperAdmin %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="superAdminRadio" type="radio" name="rights" value="Super User" {% if userIsSuperUser %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="superAdminRadio">Super User</label>
            </div>
          {% endif %}
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="applicationSupportRadio" type="radio" name="rights" value="Application Support" {% if userIsApplicationSupport %} checked {% endif %}>
            <label class="govuk-label govuk-radios__label" for="applicationSupportRadio">Application Support</label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="managerRadio" type="radio" name="rights" value="Manager" {% if userIsManager %} checked {% endif %}>
            <label class="govuk-label govuk-radios__label" for="managerRadio">Manager</label>
          </div>
          <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="staffRadio" type="radio" name="rights" value="Staff" {% if userIsStaff %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="staffRadio">Staff</label>
            </div>
        </div>
      </fieldset>
    </div>
      <br>

    <div class="govuk-form-group {% if errors['fullname'][0] %} govuk-form-group--error {% endif %}">
      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="fullname">
        What is this user's name?
        </label>
      </h1>
      <div id="fullname-hint" class="govuk-hint">
        For Example, John Smith
      </div>
      {% if errors['fullname'][0] %}
        <span id="event-name-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>{{ errors['fullname'][0] }}
        </span>
      {% endif %}
      <input class="govuk-input  {% if errors['fullname'][0] %} govuk-input--error {% endif %}" name="fullname" id="fullname" type="text" aria-describedby="fullname-hint" value="{{ fullname }}">
    </div>

    <div class="form-group">
      <input class="govuk-button" data-module="govuk-button"  type="submit" value="Submit">
    </div>
    {% include "includes/csrf-hidden-input.njk"%}
  </form>
{% endblock %}